body {
    font-family: sans-serif;
    margin: 0 40px 0 20px;
}
.alt {
    display: none;
}
.document * {
    display: inline;
}
.hidden {
    display: none;
}
ul.toc {
  list-style-type: none;
}
.section {
	clear: both;
}
.rfc2119 {
	color: red;
}
code, .code {
	background-color: rgba(0, 0, 0, 0.05);
	font-family: 'Lucida Console', Monaco, monospace;
}
.code {
	margin-left: 20px;
	margin-right: 60px;
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.20);
	border-radius: 4px;
}

@media screen {
	/* this isn't good enough, but without JavaScript... */
	p[id]:hover:after {
		content:" [#" attr(id) "]";
	}
}
@media print {
    p[id]:after { 
     	content:" [#" attr(id) "]"; 
    }  
}